body {
    background-color: #E7ECEF;
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

h1 {
    margin: 50px auto 0 auto;
    color: #1d2221;
    font-family: 'Concert One', cursive;
    font-size: xxxx-large;
}

h2 {
    font-family: 'Concert One', cursive;
    font-size: 3.5rem;
    color: #181613;
    font-weight: normal;
    padding-bottom: 10px;
}

h4 {
    font-family: 'Concert One', cursive;
    color: #181613;
    font-style: italic;
}

hr {
    justify-content: center;
}

p {
    font-family: 'Concert One', cursive;
    margin: 2rem 5% 5rem 5%;
    line-height: 2.5rem;
    font-size: larger;
}

li {
    font-family: 'Concert One', cursive;
    font-size: larger;
    text-decoration: underline;
}

a {
    font-family: 'Concert One', cursive;
}


/* fade in image html and css code from: 
https://blog.hubspot.com/website/css-fade-in
*/
.fade-in-image {
    animation: fadeIn 7s;
    -webkit-animation: fadeIn 7s;
    -moz-animation: fadeIn 7s;
    -o-animation: fadeIn 7s;
    -ms-animation: fadeIn 7s;
}

.fade-in-div-one {
    animation: fadeIn 8s;
    -webkit-animation: fadeIn 8s;
    -moz-animation: fadeIn 8s;
    -o-animation: fadeIn 8s;
    -ms-animation: fadeIn 8s;
}

.fade-in-div-two {
    animation: fadeIn 10s;
    -webkit-animation: fadeIn 10s;
    -moz-animation: fadeIn 10s;
    -o-animation: fadeIn 10s;
    -ms-animation: fadeIn 10s;
}

.fade-in-div-three {
    animation: fadeIn 14s;
    -webkit-animation: fadeIn 14s;
    -moz-animation: fadeIn 14s;
    -o-animation: fadeIn 14s;
    -ms-animation: fadeIn 14s;
}

.navbar-brand {
    font-family: 'Concert One', cursive;
    padding: 0.5rem 0.5rem;
}

.navbar .navbar-brand {
    /* Handles the size of the brand */
    font-size: xxx-large;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Concert One', cursive;
    font-size: x-large;
}

.accent {
    text-decoration: underline;
    font-style: italic;
    text-emphasis: bold;    
}

.img-fluid .img-thumbnail {
    max-width: 70%;
    height: auto;
    padding: 2rem;
    background-color: #fff;
    border: 0px solid #e0e0e0;
    border-radius: 0
}

.container-fluid {
    text-align: center;
}

#bg-img-layout {
    background-image: url('../images/background-one.jpg');
    height: 125vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #bg-img-layout {
        margin-top: -58.59px;
    }
}


/* fade in image html and css code from: 
https://blog.hubspot.com/website/css-fade-in
*/
@keyframes fadeIn {
    0% {opacity:0;} 
    100% {opacity:1;}
}
  
@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}



