body {
    background-color: #EAEAEA;
    font-family: 'Concert One', cursive;
    font-size: 20px;
}

/* Content inside of About Me and Project sections */

#space_around_content {
    padding-top: 15rem;
}

#left-curve-box {
    background-color: #303841;
    color: #EAEAEA;
    padding: 6rem;
    text-align: center;
}

#right-curve-box {
    background-color: #303841;
    color: #EAEAEA;
    padding: 2rem;
    text-align: center;
}

@media (max-width: 495px) {
    #left-curve-box {
        margin-left: 12px;
        margin-right: 12px;
    }
    #right-curve-box {
        margin-right: 12px;
        margin-left: 12px;
        padding: 4rem;
    }
}

/* Navigation section */

#navigation-section {
    display: block;
    width: 100%;
    height: 125px;
}

#navigation {
    background-color: #252A34;
    padding: 2rem;
    margin: 5px 10px 0px 5px;
    
}

/* Greetings section */

#greetings-section {
    background-color: #EAEAEA;
    padding-bottom: 10rem;
}

.greeting-content {
    padding-top: 10rem;
    text-align: center;
}

/* Separator section */

#separator-section {
    background-color: #303841;
}

/* About me section */
#about-section {
    background-color: #EAEAEA;
    padding-bottom: 10rem;
}

/* Projects section */

#projects-section {
    background-color: #EAEAEA;
    padding-bottom: 10rem;
}

/* CTA/Footer Section */

#cta-section {
    background-color: #EAEAEA;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

#footer-section {
    background-color: #EAEAEA;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

/* 
About Me

I've acquired a fundamental understanding of the following languages: 
HTML5/CSS3, JavaScript, Python, SQL, and Java. I've become well acquainted 
with GitHub and Git and how they work together to push projects/clone repositories. 
Whenever I have a problem, I understand how to navigate the Internet to look up 
specific answers to complex questions.

As far as what languages I've yet to learn, well, C# is on my agenda. I know 
how to navigate around Eclipse, PyCharm, MySQL, Django, and Postman. I'm currently 
finding out how to create beautiful web apps with React.js in conjunction with 
Django REST Frameworks and MySQL databases. A few of my preferred editors are: 
Notepad++, Atom, and VS Code. In the past, I've dabbled a bit with an old programming 
language called PERL. Although PERL is outdated, it helped me understand the building 
blocks of what HTML5/CSS3 websites use to be made.

*/

/* 

Hobbies

Walking/Jogging/Running
Hiking
Spending Time With Family
Working out at the gym
Playing any sport
Getting my butt kicked at Krunker.io
The list can go on for a bit!

*/

/* 

Projects

I like to keep my projects in a place where the whole world can see them (including 
others like me). This place is called GitHub. To view all my projects, go ahead and 
use the slideshow below to see a brief description of what each project entails. 
Once you're done reading the project description, the images themselves are links 
to the repository I have my project stored in. I'm actively adding more to my GitHub 
as time goes by. My goal is to build a big enough library of repositories to have 
templates for any situation that may arise. Enjoy! 😁

*/

/* 

CTA

Thanks for stopping by! Feel free to reach out to me whenever. I'll try to respond 
as quickly as I can.
(include: Github and Twitter profiles)

*/



